# --- DJANGO SETTINGS ---
SECRET_KEY="your-secret-key-for-django"
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# --- FASTAPI SETTINGS (SEARCH SERVICE) ---
FASTAPI_SECRET_KEY="your-secret-key-for-fastapi"
# Настройки для JWT
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# --- INTEGRATION ---
# Адрес основного API, чтобы FastAPI мог к нему обращаться
DJANGO_API_URL=http://127.0.0.1:8000/api/